.hashlink {
    text-decoration: none;
}

a.anchor {
    display: block;
    position: relative;
    visibility: hidden;
    top: -1.5rem;
    @media only screen and (max-width: 56.25em), (max-height: 37.5em) {
        top: -4rem;
    }
}