.intro {
    display: flex;
    padding: 5%;
    min-height: 100vh;
    align-items: center;
    justify-content: space-around;
    color: $grey-white;
    font-family: "Nunito Sans", sans-serif;
    &__logo {
        width: 28.5rem;
        height: 28.5rem;
    }
    &__cat {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;
        gap: 3.5rem;
    }
    &__caption {
        font-size: 3rem;
        text-align: center;
    }
}

.get-in-touch-btn {
    width: 30%;
}

.go-down-icon {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    fill: $grey-white;
    width: 3.5rem;
    height: 3.5rem;
    animation: in-and-out 1s alternate infinite;
}

@keyframes in-and-out {
    0% {
        fill: $grey-white;
        transform: translateX(-50%) scale(1);
    }
    100% {
        fill: $light-green;
        transform: translateX(-50%) scale(1.3);
    }
}
