.techstack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: "Nunito Sans", sans-serif;
    color: $grey-white;
    gap: 1rem;
    text-align: center;
    margin-bottom: 10rem;

    @include respond(phone) {
        height: 100vh;
        justify-content: center;
    }

    &__category {
        font-size: 4rem;
        letter-spacing: 0.25rem;
    }

    &__items {
        font-size: 3rem;
        font-weight: 200;
    }
}
