.works {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 5rem;
    padding: 7.5rem 5% 0 10%;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;

    @include respond(tab-port) {
        padding: 2%;
    }

    &__card {
        width: 25rem;
        height: 25rem;
        border-radius: 3rem;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &__image {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
            cursor: pointer;
            transition: all 0.25s;

            &:hover {
                width: 110%;
                height: 110%;

                & ~ * {
                    bottom: 10%;
                    font-size: 1.3rem;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        &__caption {
            position: absolute;
            cursor: default;
            bottom: -5%;
            opacity: 0;
            visibility: hidden;
            font-family: Bungee, cursive;
            // text-transform: uppercase;
            text-shadow: 1px -2px 0.5px $light-green, 1px 2px 5px $violet;
            background: linear-gradient($primary-purple-dark, $secondary-purple-dark);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 0rem;
            transition: all 0.25s ease-out;

            &:hover {
                bottom: 10%;
                font-size: 1.3rem;
                opacity: 1;
                visibility: visible;
            text-shadow: 1px -2px 0.5px $secondary-rose, 1px 2px 5px $light-green;
            }
        }
    }

    &__popup {
        font-family: "Nunito Sans", sans-serif;
        font-size: 1.5rem;

        &__link {
            border: none;
            outline: none;
        }
    }
}
