.special-hover {
    display: inline-block;
    transition: 0.3s;
    &:hover {
        color: $light-green;
        transform: scale(1.05);
    }
}

.threed-container {
    width: auto;
    height: auto;
    padding: 5rem;
    perspective: 25rem;
}