/* SITE COLORS */
$primary-purple-dark: #020204;
$secondary-purple-dark: #1F0E31;
$primary-rose: #F9AD9F;
$secondary-rose: #FEF5F3;
$violet: #A24E8F;
$light-green: #A2FFD4;
$grey-white: rgba(255,255,255,.8);
$primary-translucent-grey: rgba(171,171,171,.1);
$secondary-translucent-grey: rgba(171,171,171,.2);
$grey-overlay: rgba(10,10,10,.7);

